---
import MainLayout from "#/layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
---

<MainLayout>
  <h1>Recipes</h1>
  <section>
    {
      recipes.map((r) => (
        <article>
          <a href={`recipes/${r.id}`}>{r.data.title}</a>
          <p>{r.data.description}</p>
        </article>
      ))
    }
  </section>
</MainLayout>

<style>
  h1 {
    margin-bottom: 2rem;
  }
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    a {
      display: block;
      margin-bottom: 0.25rem;
      font-size: 1.2rem;
      font-weight: 400;
    }

    article p {
      text-wrap: wrap;
    }
  }
</style>
