---
import BlogList from "#/components/blog/BlogList.astro";
import MainLayout from "#/layouts/MainLayout.astro";
import { getBlogPosts } from "#/utils/blog";

const posts = await getBlogPosts();
---

<MainLayout>
  <h1>Blog</h1>
  <BlogList posts={posts} />
</MainLayout>

<style>
  h2 {
    margin-bottom: 1rem;
  }
</style>
