---
import BlogList from "#/components/blog/BlogList.astro";
import Icon from "#/components/icons/Icon.astro";
import MainLayout from "#/layouts/MainLayout.astro";
import { getBlogPosts } from "#/utils/blog";

const posts = await getBlogPosts();
---

<MainLayout>
  <h1>
    Blog
    <a href="/blog/rss.xml">
      <Icon icon="rss" />
    </a>
    <a href="/blog/tags">
      <Icon icon="tag" />
    </a>
  </h1>
  <BlogList posts={posts} />
</MainLayout>

<style>
  h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
</style>
