---
import BlogList from "#/components/blog/BlogList.astro";
import TagsList from "#/components/blog/TagsList.astro";
import MainLayout from "#/layouts/MainLayout.astro";
import { getBlogPosts } from "#/utils/blog";

const posts = await getBlogPosts({ includeDrafts: import.meta.env.DEV });
---

<MainLayout>
  <h2>Blog</h2>
  <div class="content">
    <BlogList posts={posts} />
    <TagsList />
  </div>
</MainLayout>

<style>
  h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 300;
  }
  .content {
    display: grid;
    grid-template-columns: auto 20%;
    gap: 2rem;
  }
</style>
