---
interface Props {
  subtitle?: string;
}

const { subtitle } = Astro.props;
---

{
  subtitle && (
    <a class="back" href="/blog">
      &laquo; back to blog
    </a>
  )
}
<h1>
  {subtitle ? subtitle : "Blog"}
</h1>

<style>
  a.back {
    color: var(--green);
    border-bottom: 2px solid transparent;
    will-change: border-bottom-color;
    transition: border-bottom-color var(--transition);
    text-decoration: none;

    &:hover {
      border-bottom-color: var(--sky);
      color: var(--sky);
    }
  }

  h1 {
    margin-bottom: 2rem;

    a {
      text-decoration: none;
      color: var(--green);
      border-bottom: 2px solid transparent;
      will-change: border-bottom-color;
      transition: border-bottom-color var(--transition);

      &:hover {
        border-bottom-color: var(--sky);
        color: var(--sky);
      }
    }
  }
</style>
