---
import { type CollectionEntry } from "astro:content";
import BlogDateText from "./BlogDateText.astro";
import TagLink from "./TagLink.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section>
  {
    posts.map((p) => (
      <article>
        <BlogDateText post={p} />
        <a href={`/blog/${p.id}`}>
          <p class="title">{p.data.title}</p>
        </a>
        <div class="tags">
          {p.data.tags.map((t) => (
            <TagLink text={t} size="md" />
          ))}
        </div>
      </article>
    ))
  }
</section>

<style>
  article {
    padding: 1rem;
    color: var(--text);

    time {
      margin-bottom: 1rem;
      font-size: 0.9rem;
      color: var(--subtext0);
    }
    .title {
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
    }
    .tags {
      display: flex;
      gap: 0.5rem;

      span {
        padding: 0.1rem 0.4rem;
        background-color: var(--lavender);
        border-radius: var(--radius-full);
        color: var(--base);
        font-size: 0.8rem;
      }
    }
  }
</style>
