---
import { getCollection } from "astro:content";

import TagLink from "./TagLink.astro";

const tags = await getCollection("blog").then((posts) =>
  posts.flatMap((p) => p.data.tags).sort((a, b) => a.localeCompare(b)),
);
---

<section>
  <h3>Tags</h3>
  <ul>
    {
      tags.map((t) => (
        <li>
          <TagLink text={t} size="lg" />
        </li>
      ))
    }
  </ul>
</section>

<style>
  h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  ul li a {
    text-decoration: none;
  }
</style>
