---
import ResetStyles from "#/components/styles/ResetStyles.astro";
import PageLoadThemeScript from "#/components/styles/PageLoadThemeScript.astro";
import CssVars from "#/components/styles/CssVars.astro";
import { Font } from "astro:assets";
import ThemeSwitcher from "#/components/styles/ThemeSwitcher.astro";
import GlobalStyles from "#/components/styles/GlobalStyles.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>itmecho.com</title>
    <Font cssVariable="--font-sans" />
    <Font cssVariable="--font-pixelated" />
    <ResetStyles />
    <CssVars />
    <GlobalStyles />
  </head>
  <body data-theme="dark">
    <PageLoadThemeScript />
    <slot />
    <ThemeSwitcher />
  </body>
</html>
