---
import ResetStyles from "#/components/styles/ResetStyles.astro";
import PageLoadThemeScript from "#/components/styles/PageLoadThemeScript.astro";
import CssVars from "#/components/styles/CssVars.astro";
import { Font } from "astro:assets";
import ThemeSwitcher from "#/components/styles/ThemeSwitcher.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>itmecho.com</title>
    <Font cssVariable="--font-sans" />
    <Font cssVariable="--font-pixelated" />
    <ResetStyles />
    <CssVars />
  </head>
  <body data-theme="dark">
    <PageLoadThemeScript />
    <slot />
    <ThemeSwitcher />
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
  }
  body {
    background-color: var(--base);
    color: var(--text);
    font-family: var(--font-sans);
    font-size: 16px;

    &.transition {
      transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
    }
  }
</style>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  ul,
  ol {
    margin-left: 2rem;

    li {
      margin-bottom: 0.5rem;
      padding-left: 1rem;
    }
  }
  ul li {
    list-style: disc;
  }
  ol li {
    list-style: number;
  }
  a, a:visited {
    color: var(--green);
  }
</style>
