---
import NavLinks from "#/components/nav-links/NavLinks.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <div class="page-container">
    <header>
      <a href="/"><p class="site-title">itmecho</p></a>
      <NavLinks />
    </header>
    <main>
      <slot />
    </main>
  </div>
</BaseLayout>

<style>
  .page-container {
    max-width: 800px;
    margin: 0 auto;
  }

  header {
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--base);

    > a {
      text-decoration: none;
    }

    .site-title {
      font-size: 2rem;
      font-family: var(--font-pixelated);
      color: var(--text);
    }
  }

  main {
    padding: 2rem;
  }
</style>
